# Add account credentials and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry sets a local environment variable.
# For example, setting:
# GMAIL_USERNAME=Your_Gmail_Username
# makes 'Your_Gmail_Username' available as ENV["GMAIL_USERNAME"]

# database.yml
export RDS_DB_NAME='jyffstest_development'
export RDS_USERNAME='potato'
export RDS_PASSWORD='limabeanc@t'
export RDS_HOSTNAME='localhost'
export RDS_PORT=''
export DB_ADAPTER='mysql2'

# Redis location
export CACHE_NODE='localhost'